---
import { CollectionEntry, getCollection } from 'astro:content'
import Code from '../../components/Code.astro'
import FeaturedImage from '../../components/FeaturedImage.astro'
import PostPreviewList from '../../components/PostPreviewList.astro'
import DefaultPageLayout from '../../layouts/default.astro'
import { sortPostsAscending } from '../../utils'

export async function getStaticPaths() {
    const allSeries = await getCollection('series')
    return allSeries.map((_series) => ({
        params: {
            slug: _series.slug,
        },
        props: {
            series: _series
        }
    }))
}

const { series } = Astro.props as CollectionEntry<'series'>
const { title, description, image } = series.data
const { Content } = await series.render()

const seriesPosts = await getCollection(
    'blog',
    ({ data }) => data.series?.slug === series.slug
)
const sortedPosts = sortPostsAscending(seriesPosts)
---

<DefaultPageLayout content={{ title, description }}>
    <FeaturedImage image={image} />
    <div class="series__content">
        <Content
            components={{
                code: Code,
            }}
        />
    </div>
    <PostPreviewList posts={sortedPosts} />
</DefaultPageLayout>

<style>
    .series__content {
        @apply mb-4;
    }
</style>