---
import { SITE } from '$/config'
import ModeLabel from './ModeLabel.svelte'
---

<footer class="footer">
    <nav class="nav">
        <div>
            2024 &copy; Copyright | <a
                href={SITE.githubUrl}
                title={`${SITE.name}'s Github URL'`}>{SITE.name}</a
            >
            <ModeLabel client:load /> thema, gebouwd met <a href="https://astro.build/"
                >Astro</a>, geïnspreerd door <a href="https://github.com/one-aalam/astro-ink">Astro Ink</a>
        </div>
    </nav>
</footer>
<style>
    .footer {
        @apply py-6 border-t;
    }
</style>
