---
import type { CollectionEntry } from 'astro:content'

interface Props {
    series: CollectionEntry<'series'>,
    asCard?: boolean
}

const { series: { data: series, slug }, asCard = false } = Astro.props
---
<div class={`series-preview ${asCard && 'series-preview--card'}`}>
    <div class="flex-1">
        <h4 class="series-preview__title dark:text-theme-dark-primary">
            <a href={`/series/${slug}`} title={series.title}>{series.title}</a>
        </h4>
        <p class="series-preview__desc">
            {series.description}
        </p>
    </div>
</div>
<style>
    .series-preview {
        @apply flex gap-6;
    }
    .series-preview--card {
        @apply flex flex-col-reverse gap-4 sm:w-72 md:w-60 lg:w-64;
    }
    .series-preview__title {
        @apply text-2xl font-semibold text-theme-primary dark:text-theme-dark-primary /* this doesn't works here */ hover:underline mb-2;
    }
    .series-preview__desc {
        @apply text-lg leading-6 line-clamp-2 dark:text-white hyphens-auto;
    }
</style>
