---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "./BaseLayout.astro";
import { sortPostsAscending } from "../utils/sort-posts";

const { series, metadata } = Astro.props;

const seriesPosts = await getCollection("posts", ({ data }) => {
  return data.series?.slug === series.slug;
});
const sortedPosts = sortPostsAscending(seriesPosts);
---

<BaseLayout pageTitle={metadata.title}>
  <p><em>{metadata.description}</em></p>

  <slot />

  <ul class="series-list">
    {
      sortedPosts.map((post) => (
        <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
